* {
  color: rgb(240, 238, 238);
  font-family:
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;
  background: none;
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(240, 238, 238);
  margin: 1px;
}

.container {
  width: 100vw;
  background: #191765;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #646369;
  margin: 1px;
}

.grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}

.head {
  background: url(media/ellipse1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  margin-right: 1px;
  margin-bottom: 10px;
}

.bod {
  flex-direction: column;
  border-bottom: 1px;
}

.navigation {
  margin-top: 50px;
  border: none;
  justify-content: space-around;
  align-content: center;
}

.skills {
  background: url(media/ellipse2.svg);
  background-repeat: no-repeat;
  background-position: top right;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2px;
}

.title {
  font-size: 90%;
  font-weight: 500;
  color: #9490ff;
  margin: 20px;
}

.subtitle {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.work {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
  height: 20vh;
  margin-bottom: 1em;
}

.handles {
  justify-content: center;
  border-bottom: transparent;
}

.handles > * {
  width: 40px;
  height: 40px;
  margin: 1px;
  padding-top: 60px;
  text-align: center;
}

.projects {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding-top: 60px;
  background:
  url(media/ellipse3.svg),
  url(media/ellipse4.svg),
  url(media/ellipse5.svg),
  url(media/ellipse6.svg);
  background-repeat: no-repeat;
  background-position:
  left top,
  right 25%,
  left center,
  right 75%;
}

.project {
  align-items: center;
  flex-wrap: wrap;
  border-bottom: transparent;
  background: none;
}

.languages {
  justify-content: center;
  border-bottom: transparent;
  background: none;
}

.languages > * {
  width: min-content;
  height: 40px;
  padding: 10px;
  margin: auto;
  border-right: 1px solid #646369;
  border-left: 1px solid #646369;
}

.bottom > li {
  padding: 1%;
}

.contact {
  padding-bottom: 4.7em;
}

footer > p {
  display: inline-block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section {
  flex-direction: column;
  min-height: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: #edecff;
  font-size: 100px;
}

h1 {
  color: #7d73fc;
  font-weight: bold;
  font-size: 48px;
  margin-top: 63px;
  margin-bottom: 1px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #9490ff;
  padding-left: 1em;
  padding-bottom: 1em;
  text-align: left;
  border-bottom: 1px solid #646369;
}

.contact > h2 {
  text-align: center;
  padding: 1px;
  padding-top: 1.5em;
  border: transparent;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  color: #fff;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
  margin: 6px;
}

p {
  font-size: 20px;
  line-height: 28px;
  max-width: 84vw;
  margin-top: 1px;
}

ul,
li {
  list-style-type: none;
  padding: 1px;
  text-align: left;
}

li {
  margin: 15px;
}

ul {
  flex-basis: 40vw;
  margin: 20px;
}

button {
  all: unset;
  width: 90px;
  height: 48px;
  left: 12px;
  top: 12px;
  background: #7d73fc;
  margin-top: 14px;
  margin-bottom: 34px;
  margin-right: 65vw;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 200%;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edecff;
}

button:hover {
  background: #7d73fc;
  box-shadow: 1px 8px 16px rgba(125, 115, 252, 0.48);
}

button:active {
  background: #5e42d7;
}

button:disabled {
  background: #2a2b33;
}

/* form ul li {
  align-self: center;
} */

input,
textarea {
  width: 100%;
  margin-top: 39px;
  height: 30px;
  padding: 1em;
  font-family:
  Inter,
  sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  background-color: #fff;
  color: rgb(20, 20, 20);
}

input[type="text"]{
  margin-top: 1px;
}

textarea {
  height: 114px;
}

input ::placeholder {
  color: #81818C;
}