* {
  color: rgb(240, 238, 238);
  font-family:
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(240, 238, 238);
}

.container {
  width: 100vw;
  border: 100px;
  background: #191765;
  display: flex;
  align-items: center;
  text-align: center;
}

.bod {
  flex-direction: column;
}

.navigation {
  margin-top: 50px;
}

.skills {
  background: url(/media/EllipseRight.svg) #191765;
  background-repeat: no-repeat;
  background-position: top right;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.head {
  background: url(/media/EllipseLeft.svg) #191765;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section {
  flex-direction: column;
  min-height: 10vh;
  border: 10px solid goldenrod;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: #edecff;
  font-size: 100px;
}

h1 {
  color: #7d73fc;
  font-weight: bold;
  font-size: 48px;

  margin-bottom: 0px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
  line-height: 28px;
  max-width: 85vw;
}

.title {
  font-size: 90%;
  font-weight: 500;
  color: #9490ff;
  margin: 20px;
}

ul,
li {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  text-align: left;
}

ul {
  flex-basis: 40vw;
}
